.chart-wrap {
  margin-left: 50px;
  margin-top: 50px;
  font-family: sans-serif;
  height: 650px;
  width: 300px;
}
.chart-wrap.vertical .grid {
  transform: translateY(-175px) translateX(175px) rotate(-90deg);
}
.chart-wrap.vertical .grid .bar::after {
  transform: translateY(-50%) rotate(90deg);
  display: block;
}
.chart-wrap .grid {
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #aaa;
}
.chart-wrap .bar {
  width: var(--bar-value);
  height: 50px;
  margin: 30px 0;
  background-color: #2A2D34;
  border-radius: 0 3px 3px 0;
}
.chart-wrap .bar:hover {
  opacity: 0.7;
}
.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}