<html>
  <head>
    <title>AlgoViewer</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/home.css' %}">
    <link rel='stylesheet' href="{% static 'css/reset.css' %}">
  </head>
  <body>
    <div class="fullscreen-bg">
      <video autoplay muted loop class="fullscreen-bg__video">
        {% load static %}
        <source src="{% static 'videos/bg.mp4' %}" type="video/mp4">
      </video>
    </div>
    <div class='content'>
      <div class='typewriter'>
        <h1 class='header'>
          <span class='welcome'>Welcome to</span> 
          <span class='to'>AlgoViewer</span>
        </h1>
      </div>
      <p class='description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      </p>
      <div class='buttonContainer'>
        <button class="btn draw-border">Get started</button>
      </div>
    </div>
  </body>
</html>