<html>
  <head>
    <title>Sort</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/sort_style.css' %}">
    <link rel='stylesheet' href="{% static 'css/reset.css' %}">
    <!-- Bootstrap cdn --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sort">Sort</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pathfinding">Pathfinding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- File+sort selector -->
    <div class="selector">
      <form method="post" enctype=multipart/form-data>
        {% csrf_token %}
        {% if is_error %}
          {{ error_message }}
        {% endif %}
        {{ form }}
        <input type="submit" value="Submit">
        <input type="button" value="Export" onclick="window.open('download_sorted_array')">
      </form>
    </div>

    <!-- Sort animation -->
    <div class="chart-wrap vertical">
      <div class="grid" id="sortBars"> </div>
    </div>
    <!--Bootsrap js cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      var array = "{{ array }}"
      var raw_path = "{{ path }}"
      var path = raw_path.split(' ').map(function(item) {
        item = item.replace(/\D/g,'');
        return parseInt(item, 10);
      })
      var data = array.split(' ').map(function(item) {
        return parseInt(item, 10)
      })
      var percentages = [];
      var max = Math.max(...data);
      var min = Math.min(...data);
      var top_value = max - min;
      var bars = document.getElementById('sortBars');

      function applySort() {
        for(var step = 0; step < path.length; step++) {
          console.log(path[step])
        }
      }

      for(var i = 0; i < data.length; ++i) {
        var div = document.createElement("div");
        div.setAttribute('class', 'bar');
        var percentage = ((data[i] - min) / top_value) * 100 + 1;
        div.setAttribute('style', '--bar-value:'+percentage+'%;');
        div.setAttribute('data-name', data[i]);
        div.setAttribute('id', percentage);
        bars.appendChild(div);
      }
      applySort()
    </script>
  </body>
</html>